.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Item-list {
  list-style: none;
}

.Item-list li {
  border: 1px dotted gray;
  width: 20%;
  height: 3em;  
  margin: auto;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}
